@using bugTracker.Controllers
@using bugTracker.Extensions
@using bugTracker.Helpers
@{ 
    NotificationHelper notificationHelper = new NotificationHelper();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bug Tracking</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/bug-icon-64x64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/bug-icon-64x64.png">
    <link rel="icon" type="image/png" sizes="64x64" href="~/images/bug-icon-64x64.png">

    <!-- Bootstrap -->
    <link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Bootstrap-progressbar -->
    <link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Dropzone.js -->
    <link href="~/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">

    <!-- Time Line Css -->
    <link href="~/Content/TimeLineSC.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Content/custom.min.css" rel="stylesheet">

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/rg-1.1.0/datatables.min.css" />

    <!-- My Personal Customizations-->
    <link href="~/Content/bugTracker.css" rel="stylesheet" />

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href=@Url.Action("Index") class="site_title"><i class="fa fa-bug"></i><span id="titleSpan"> Destroyer Bug Tracking</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @if (string.IsNullOrEmpty(User.Identity.Avatar()))
                            {
                                <img src="~/images/user.png" alt="..." class="img-circle profile_img">
                            } else {
                                <img src="~/images/@User.Identity.Avatar()" alt="..." class="img-circle profile_img">
                            }
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@User.Identity.DisplayName()</h2>
                        </div>
                    </div>

                    <!-- /menu profile quick info -->
                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-ticket"></i> Tickets <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (User.IsInRole("Submitter"))
                                        {
                                            <li>@Html.ActionLink("Create", "Create", "Tickets")</li>
                                        }
                                        <li>
                                            @Html.ActionLink("View All", "Index", "Tickets")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-briefcase"></i> Projects <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (User.IsInRole("Administrator") || User.IsInRole("Project Manager"))
                                        {
                                            <li>@Html.ActionLink("Create Project", "Create", "Projects")</li>
                                        }

                                        <li>@Html.ActionLink("View Projects", "Index", "Projects")</li>
                                    </ul>
                                </li>
                                @if (User.IsInRole("Administrator"))
                                {
                                <li>
                                    <a><i class="fa fa-cogs"></i> Administrative <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Role Assignments", "RoleAssignment", "Manage")
                                        </li>
                                    </ul>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>

                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <div id="navContainer">
                            <ul id="navBar" class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        @if (string.IsNullOrEmpty(User.Identity.Avatar()))
                                        {
                                            <img src="~/images/user.png" alt="">
                                        }
                                        else
                                        {
                                            <img src="~/images/@User.Identity.Avatar()" alt="">
                                        }@User.Identity.FullName()
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li>
                                            @Html.ActionLink("Profile", "UserProfile", "Manage")
                                        </li>
                                        <li>
                                            @Html.Partial("_LoginPartial")
                                        </li>
                                    </ul>
                                </li>

                                <!-- Message Notifications -->

                                <li role="presentation" class="dropdown">
                                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-green">@notificationHelper.NotificationUnread().Count()</span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                        @foreach (var notification in notificationHelper.NotificationUnread())
                                        {
                                            <li class="notification" id="@notification.Id">
                                                <a>
                                                    @if (string.IsNullOrEmpty(User.Identity.Avatar()))
                                                    {
                                                        <span class="image"><img src="~/images/user.png" alt="Profile Image" /></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="image"><img src="~/images/@User.Identity.Avatar()" alt="Profile Image" /></span>
                                                    }
                                                    <span>
                                                        <span>@User.Identity.FirstName() @User.Identity.LastName()</span>
                                                        <span class="time">@notificationHelper.HowLongAgo(notification.Sent)</span>
                                                    </span>
                                                    <span class="message">
                                                        <span class="h5">@Html.Raw(notification.Subject)</span>
                                                        @Html.Raw(notification.Body)
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                        <li>
                                            <div class="text-center">
                                                <a>
                                                    <strong>@Html.ActionLink("See All Alerts", "Index", "TicketNotifications") </strong>
                                                    <i class="fa fa-angle-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <!-- End Message Notification -->

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->

            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Destroyer Bug Tracking &copy;@DateTime.Now.Year
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- jQuery Sparklines -->
    <script src="~/vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- Flot -->
    <script src="~/vendors/Flot/jquery.flot.js"></script>
    <script src="~/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/vendors/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/vendors/moment/min/moment.min.js"></script>
    <script src="~/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Bootstrap-Progressbar -->
    <script src="~/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/vendors/iCheck/icheck.min.js"></script>
    <!-- Dropzone.js -->
    <script src="~/vendors/dropzone/dist/min/dropzone.min.js"></script>

    <!-- Datatables -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.4/rg-1.1.0/datatables.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/custom.min.js"></script>

    <script>
        $(".notification").click(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClearNotification", "Home", null)",
                data: { id: this.id },
                success: function (result)
                {
                    $("#navContainer").load(location.href + " #navBar");
                },
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
