@model bugTracker.Models.Ticket
@using Microsoft.AspNet.Identity
@using bugTracker.Helpers

@{
    TicketHelper ticketHelper = new TicketHelper();
    ProjectsHelper projectHelper = new ProjectsHelper();
    UserRolesHelper userHelper = new UserRolesHelper();
    ViewBag.Title = "Ticket Details";
}

    <h4>@ViewBag.Title</h4>
    <hr />
    <div class="container">
        <div class="x_content">
            <div class="row">

                @*Basic Information*@
                <div class="col-md-6">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><span class="fa fa-info-circle"></span> Ticket Information</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <dl class="dl-horizontal">

                                <dt>
                                    @Html.DisplayNameFor(model => model.Project.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Project.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketPriority.Priority)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketPriority.Priority)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketStatus.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketStatus.Status)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TicketType.Type)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TicketType.Type)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Created)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Created)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Updated)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Updated)
                                </dd>
                            </dl>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                            </p>
                        </div>
                    </div>
                </div>

                @*personel*@
                <div class="col-md-6 widget_tally_box">
                    <div class="x_panel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="x_title">
                                    <h2><span class="fa fa-users"></span> Personel Info</h2>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="x_content">
                                <div class="col-md-4">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div class="flex">
                                                <ul class="list-inline widget_profile_box">
                                                    <li>
                                                        @if (@userHelper.GetUserAvatar(Model.AssignedToUserId) == "")
                                                        {
                                                            <img src="~/images/user.png" alt="..." class="img-circle profile_img" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/@userHelper.GetUserAvatar(Model.AssignedToUserId)" alt="..." class="img-circle profile_img" />
                                                        }
                                                        @*<img class="img-circle profile_img cenet" alt="..." src="/images/user.png">*@
                                                    </li>
                                                </ul>
                                            </div>
                                            @if (string.IsNullOrEmpty(Model.AssignedToUserId))
                                            {
                                                <h3 class="name text-center">Not Assigned</h3>
                                            }
                                            else
                                            {
                                                <h3 class="name text-center">@Html.DisplayFor(model => model.AssignedToUser.FirstName) @Html.DisplayFor(model => model.AssignedToUser.LastName)</h3>
                                            }

                                            <h4 class="text-center">Developer</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div class="flex">
                                                <ul class="list-inline widget_profile_box">
                                                    <li>
                                                        @if (projectHelper.PMIdforTicket(Model.ProjectId) == "Not Assigned" || userHelper.GetUserAvatar(projectHelper.PMIdforTicket(Model.ProjectId)) == "")
                                                        {
                                                            <img src="~/images/user.png" alt="..." class="img-circle profile_img">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/@userHelper.GetUserAvatar(projectHelper.PMIdforTicket(Model.ProjectId))" alt="..." class="img-circle profile_img">
                                                        }
                                                    </li>
                                                </ul>
                                            </div>

                                            <h3 class="name text-center">@projectHelper.PMforTicket(Model.ProjectId)</h3>

                                            <h4 class="text-center">Project Manager</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div class="flex">
                                                <ul class="list-inline widget_profile_box">
                                                    <li>
                                                        @if (userHelper.GetUserAvatar(Model.OwnerUserId) == "")
                                                        {
                                                            <img src="~/images/user.png" alt="..." class="img-circle profile_img">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/@userHelper.GetUserAvatar(Model.OwnerUserId)" alt="..." class="img-circle profile_img">
                                                        }
                                                        @*<img class="img-circle profile_img cenet" alt="..." src="/images/user.png">*@
                                                    </li>
                                                </ul>
                                            </div>

                                            <h3 class="name text-center">@Html.DisplayFor(model => model.OwnerUser.FirstName) @Html.DisplayFor(model => model.OwnerUser.LastName)</h3>

                                            <h4 class="text-center">Submitter</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                @*Attachments*@
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><span class="fa fa-file-text"></span> Attachments</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @using (Html.BeginForm("Create", "TicketAttachments", null, FormMethod.Post, new { enctype = "Multipart/form-data", @class = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("TicketId", Model.Id)
                                @Html.Hidden("UserId", User.Identity.GetUserId())

                                <input name="attachment" type="file" class="form-control" id="fileUpload" />
                                <br />
                                @Html.TextArea("TicketDescription", new { @class = "form-control", placeholder = "Add File Details", rows = "2" })

                                <br />
                                <button class="btn btn-default" type="submit">Submit</button>
                            }

                            <hr />
                            @foreach (var attachment in Model.TicketAttachments)
                            {
                                <div class="panel panel-default">

                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <div class="panel-heading small">
                                            @Html.ActionLink(" [DELETE] ", "Delete", "Comments", new { attachment.Id }, null)
                                        </div>
                                    }

                                    <div class="panel-body">
                                        <a href='@attachment.FilePath' target="_blank">
                                            <img class="attachmentIcon" src="@ticketHelper.TicketImage(attachment.FilePath)" />
                                            @Path.GetFileNameWithoutExtension(attachment.Title)
                                        </a>
                                        <br />@attachment.Description
                                    </div>
                                    <div class="panel-footer small">
                                        Posted: @attachment.Created.ToString("f")
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @*Comments*@
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><span class="fa fa-comments-o"></span> Comments</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, htmlAttributes: new { @class = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("TicketId", Model.Id)
                                @Html.Hidden("UserId", User.Identity.GetUserId())

                                <div class="form-group">
                                    @Html.Label("Add Comment", new { @class = "control-label" })
                                    @Html.TextArea("comment", new { @class = "form-control", placeholder = "Comment Body", rows = "4" })
                                </div>

                                <button class="btn btn-default" type="submit">Submit</button>
                            }
                            <hr />
                            @foreach (var comment in Model.TicketComments)
                            {
                                <div class="panel panel-default">

                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <div class="panel-heading small">
                                            @Html.ActionLink(" [DELETE] ", "Delete", "Comments", new { comment.Id }, null)
                                        </div>
                                    }


                                    <div class="panel-body">@comment.Comment</div>
                                    <div class="panel-footer small">
                                        Posted: @comment.Created.ToString("f")
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                @*History*@
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><span class="fa fa-history"></span> History</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            
                            <div class="qa-message-list" id="wallmessages">
                                @foreach (var history in Model.TicketHistories) {
                                    <div class="message-item" id="@history.Id">
                                        <div class="message-inner">
                                            <div class="message-head clearfix">
                                                <div class="user-detail">
                                                    <h5 class="handle">@history.User.FirstName @history.User.LastName</h5>
                                                    @* Would like to add a link to user profile - user profile is not designed for this at this time *@
                                                    <div class="post-meta">
                                                        <div class="asker-meta">
                                                            <span class="qa-message-what"></span>
                                                            <span class="qa-message-when">
                                                                <span class="qa-message-when-data">@history.Changed.ToString("g")</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="qa-message-content">
                                                <h3 class="h3_history">@history.Property</h3>
                                                <h4 class="h4_history">To: </h4><p class="p_history">@history.OldValue</p>
                                                <h4 class="h4_history">From: </h4><p class="p_history">@history.NewValue</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>