@model IEnumerable<bugTracker.Models.TicketNotification>
@using bugTracker.Extensions
@using bugTracker.Helpers

@{
    NotificationHelper notificationHelper = new NotificationHelper();
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="x_panel">
            <div class="x_title">
                <h2>All Notification</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @foreach (var notification in notificationHelper.NotificationAll())
                {
                    <div class="col-md-3">
                        <ul class="list-unstyled msg_list">
                            <li>
                                <a>
                                    <span class="image">
                                        @if (string.IsNullOrEmpty(User.Identity.Avatar()))
                                        {
                                            <img src="~/images/user.png" alt="imge" />
                                        }
                                        else
                                        {
                                            <img src="~/images/@User.Identity.Avatar()" alt="img" />
                                        }
                                    </span>
                                    <span>
                                        <span>@User.Identity.FirstName() @User.Identity.LastName()</span>
                                        <span class="time">@notificationHelper.HowLongAgo(notification.Sent)</span>
                                    </span>
                                    <span class="message">
                                        <span class="h5">@Html.Raw(notification.Subject)</span>
                                        @Html.Raw(notification.Body)
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>