@using bugTracker.Helpers
@model bugTracker.Models.Project

@{
    var projectHelper = new ProjectsHelper();
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Projects", FormMethod.Post, new { @id = "editProjectForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Created)

<div class="form-horizontal">
    <div class="container">
        <div class="x_panel">
            <div class="x_title">
                <h2>Edit Project</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Assign New Users From List <small>No selection will leave current users unassigned</small></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="">
                                        @*<ul class="to_do">
                                @foreach (var user in ViewBag.Users)
                                {
                                    <li>
                                        @if (projectHelper.IsUserOnProject(user.Value, Model.Id))
                                        {
                                            @Html.CheckBox("userId", true, new { @id = $"{user.Id}", @value =$"{user.Id}", @class = "flat" })
                                            @Html.Label($"{user.LastName}, {user.FirstName}")
                                        }
                                        else
                                        {
                                            @Html.CheckBox("userId", false, new {@id=$"{user.Id}", @value = $"{user.Id}", @class = "flat" })
                                            @Html.Label($"{user.LastName}, {user.FirstName}")
                                        }

                                    </li>
                                }
                            </ul>*@
                                        @if (ViewBag.UserOff.Items.Count == 0)
                                        {
                                            <div class="text-center">No Users to display</div>
                                        }
                                        else
                                        {
                                            @Html.ListBox("UserOff", null, new { @class = "customListBox" })
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Remove Users From List <small>No selection will leave current users assigned</small></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="">
                                        @if (ViewBag.UserOn.Items.Count == 0)
                                        {
                                            <div class="text-center">No Users to display</div>
                                        }
                                        else
                                        {
                                            @Html.ListBox("UserOn", null, new { @class = "customListBox" })
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Assign New Project Manager <small>No selection will leave current project manager assigned</small></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="">
                                        @if (!(ViewBag.CurrentPm is null))
                                        {
                                            <div class="row">The Current PM for this project is: @ViewBag.CurrentPm</div>
                                        }
                                        <div class="row">
                                            @Html.DropDownList("PMs", null, "-- Select a PM --", htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11">
                            <input id="editPrjBtn" type="button" value="Save" class="btn btn-default btn-success" />
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
}


@section scripts
{
    <script>
        $("#editPrjBtn").click(function () {
            $("#editProjectForm").submit();
        });

        $(function () {
            var length = parseInt($(".customListBox option").length);
            $(".customListBox").attr("size", length > 10 ? length : 10);
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
