@using bugTracker.Extensions
@model bugTracker.Models.UserProfileViewModel

@{
    var temp = User.Identity.Name.Substring(0, 4).ToLower();
    ViewBag.Title = "User Profile";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            @if (string.IsNullOrEmpty(User.Identity.Avatar()))
                            {
                                <img class="img-responsive avatar-view" src="~/images/user.png" alt="Avatar" title="Change the avatar">
                            }
                            else
                            {
                                <img class="img-responsive avatar-view" src="~/images/@User.Identity.Avatar()" alt="Avatar" title="Change the avatar">
                            }

                        </div>
                    </div>
                    <h3>@Model.CurrentUser.DisplayName</h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            First Name:
                            @Model.CurrentUser.FirstName
                        </li>
                        <li>
                            Last Name:
                            @Model.CurrentUser.LastName
                        </li>
                        <li>
                            Display Name:
                            @Model.CurrentUser.DisplayName
                        </li>
                        <li>
                            Email:
                            @Model.CurrentUser.Email
                        </li>
                    </ul>
                    @if (User.Identity.Name.Substring(0, 4).ToLower() != "demo")
                    {
                        <a id="editBtn" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit m-right-xs"></i> Edit Profile</a>
                    }
                    @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                </div>

                @* No Demo User should have access to the Modal *@
                @if (User.Identity.Name.Substring(0, 4).ToLower() != "demo")
                {
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="container">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Profile Edit</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#personal">Personal</a></li>
                                            <li><a data-toggle="tab" href="#password">Password</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="personal" class="tab-pane fade in active">
                                                @Html.Partial("ChangeUserProfile", Model.ProfileUpdateModel)
                                            </div>
                                            <div id="password" class="tab-pane fade">
                                                @Html.Partial("ChangePassword", Model.ChangePasswordModel)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}