@using bugTracker.Models
@model LoginRegisterViewModel

@{
    ViewBag.Title = "LoginRegister";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="col-md-3 title_padding_left">
        <div class="row">
            <div class="pricing ui-ribbon-container">
                <div class="ui-ribbon-wrapper">
                    <div class="ui-ribbon">
                        DEMO
                    </div>
                </div>
                <div class="title">
                    <h2>Login As</h2>
                    <h1>Administrator</h1>
                </div>
                <div class="x_content">
                    <div class="">
                        <div class="pricing_features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Assign Users to Roles</li>
                                <li><i class="fa fa-check text-success"></i> View, Create, and Edit Projects</li>
                                <li><i class="fa fa-check text-success"></i> Assign Users to Projectjs</li>
                                <li><i class="fa fa-check text-success"></i> View all Projects and Ticket Details</li>
                                <li><i class="fa fa-check text-success"></i> Asign users to Tickets</li>
                                <li><i class="fa fa-check text-success"></i> Edit Tickets and add Comments and Attachements</li>
                                <li><i class="fa fa-check text-success"></i> View Ticket History</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot Create Tickets</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricing_footer">
                        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Email", "Admin")
                            <button type="submit" class="btn btn-success btn-block">Login As Administrator</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pricing ui-ribbon-container">
                <div class="ui-ribbon-wrapper">
                    <div class="ui-ribbon">
                        DEMO
                    </div>
                </div>
                <div class="title">
                    <h2>Login As</h2>
                    <h1>Project Manager</h1>
                </div>
                <div class="x_content">
                    <div class="">
                        <div class="pricing_features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> View, Create, and Edit Projects</li>
                                <li><i class="fa fa-check text-success"></i> Assign Users to Projectjs</li>
                                <li><i class="fa fa-check text-success"></i> View all Projects</li>
                                <li><i class="fa fa-check text-success"></i> View Only Their Ticket Details</li>
                                <li><i class="fa fa-check text-success"></i> Asign users to Tickets</li>
                                <li><i class="fa fa-check text-success"></i> Edit Tickets and add Comments and Attachements</li>
                                <li><i class="fa fa-check text-success"></i> View Ticket History</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot Create Tickets</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricing_footer">
                        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Email", "PM")
                            <button type="submit" class="btn btn-success btn-block">Login As Project Manager</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @Html.Partial("Login", Model.Login)
                </section>
            </div>
            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    @Html.Partial("Register", Model.Register)
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3 title_padding_right">
        <div class="row">
            <div class="pricing ui-ribbon-container">
                <div class="ui-ribbon-wrapper">
                    <div class="ui-ribbon">
                        DEMO
                    </div>
                </div>
                <div class="title">
                    <h2>Login As</h2>
                    <h1>Developer</h1>
                </div>
                <div class="x_content">
                    <div class="">
                        <div class="pricing_features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> View only their Projects</li>
                                <li><i class="fa fa-check text-success"></i> View Only Their Ticket Details</li>
                                <li><i class="fa fa-check text-success"></i> Edit only their Tickets and add Comments and Attachements</li>
                                <li><i class="fa fa-check text-success"></i> View Ticket History</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot Create or Edit Projects</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot Create Tickets</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot assign users to Projectjs</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot assign users to Tickets</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricing_footer">
                        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Email", "Developer")
                            <button type="submit" class="btn btn-success btn-block">Login As Developer</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pricing ui-ribbon-container">
                <div class="ui-ribbon-wrapper">
                    <div class="ui-ribbon">
                        DEMO
                    </div>
                </div>
                <div class="title">
                    <h2>Login As</h2>
                    <h1>Submitter</h1>
                </div>
                <div class="x_content">
                    <div class="">
                        <div class="pricing_features">
                            <ul class="list-unstyled text-left">
                                <li><i class="fa fa-check text-success"></i> Can Create Tickets</li>
                                <li><i class="fa fa-check text-success"></i> View only their Projects</li>
                                <li><i class="fa fa-check text-success"></i> View Only Their Ticket Details</li>
                                <li><i class="fa fa-check text-success"></i> Edit only their Tickets and add Comments and Attachements</li>
                                <li><i class="fa fa-check text-success"></i> View Ticket History</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot Create or Edit Projects</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot assign users to Projects</li>
                                <li><i class="fa fa-times text-danger"></i> Cannot assign users to Tickets</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricing_footer">
                        @using (Html.BeginForm("DemoLogin", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("Email", "Submitter")
                            <button type="submit" class="btn btn-success btn-block">Login As Submitter</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

