@using bugTracker.Models
@model bugTracker.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "registerForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h1>Registration Form</h1>
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div>
        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "form-control" })
    </div>
    <div>
        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
    </div>
    <div>
        @Html.TextBoxFor(m => m.DisplayName, new { placeholder = "Display Name", @class = "form-control" })
    </div>
    <div>
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
    </div>
    <div>
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
    </div>
    <div>
        <a id="registerBtn" class="btn btn-default submit" href="#">Log in</a>
    </div>
    <div class="clearfix"></div>
    <div class="separator">
        <p class="change_link">
            Already a member ?
            <a href="#signin" class="to_register"> Register </a>
        </p>
        <div class="clearfix"></div>
        <br />
        <div>
            <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
            <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
        </div>
    </div>
}

@section scripts {
    <script>
        $("#registerBtn").click(function () {
            $("#registerForm").submit();
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}


@*@if (TempData.ContainsKey("status"))
{
    if (TempData["status"].ToString() == "success")
    {
        <script>swal("Congradulations!", "Your message has been sent!", "success");</script>
    }

    if (TempData["status"].ToString() == "error")
    {
        <script>swal("OOPS!", "There was a problem sending your message", "error");</script>
    }

    if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
        {
            <script>swal("Good job!", "You clicked the button!", "success");</script>
        }
}*@